*{
    font-size: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display:inline-block;
    background-color: lightblue;
    margin: 0;
}
.gameBoard{
    height:80%;
    width:80%;
    display: inline-block;
    background-color: lightgreen;
}
.cellContainer{
    height:33.33%;
    width:100%;
    display: inline-block;
    background-color: pink;
}
.tictactoeCell{
    background-color: white;
    height:100%;
    width:30%;
    box-sizing: border-box;
    border:1px solid black;
    display:inline-block;
    font-size: initial;
}
